body {
	background-color: black;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat;
}

.heading {
	font-family: 'Lato', cursive;
	margin: 40px auto 30px;
}

.main {
	width: 60vw;
	margin: auto;
	padding: 40px;
	border-radius: 20px;
	background-color: rgba(3, 3, 3, 3);
	background-position: center
	color: red;
}

label {
	font-size: 50px;
}

.btn {
	width: 200px;
}

#finalAmount {
	font-family: 'courier', cursive;
	display: none;
	margin: 100px auto;
}

#finalAmount h2 {
	font-size: 100px;
}

.finalValue {
	font-family: 'Amiri', serif;
}

@media (max-width: 800px) {
	hr {
		width: 60%;
	}
	.main {
		width: 120%;
	}
}

@media (max-width: 400px) {
	.heading {
		font-size: 120px;
	}
	hr {
		width: 75%;
	}
	#finalAmount h2, .finalValue {
		font-size: 160px;
	}
}
