body {
	background-color: aliceblue;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.heading {
	font-family: 'Lato', cursive;
	margin: 40px auto 30px;
}

hr {
	border-top: 2px solid blue;
	width: 40%;
	margin-bottom: 60px;
}

.main {
	width: 60vw;
	margin: auto;
	padding: 40px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	color: red;
}

label {
	font-size: 30px;
}

.btn {
	width: 200px;
}

#finalAmount {
	font-family: 'Lato', cursive;
	display: none;
	margin: 50px auto;
}

#finalAmount h2 {
	font-size: 50px;
}

.finalValue {
	font-family: 'Amiri', serif;
}

@media (max-width: 768px) {
	hr {
		width: 60%;
	}
	.main {
		width: 100%;
	}
}

@media (max-width: 400px) {
	.heading {
		font-size: 60px;
	}
	hr {
		width: 75%;
	}
	#finalAmount h2, .finalValue {
		font-size: 40px;
	}
}
